My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -592,
        16
      ],
      "id": "d7fdd51f-a6e8-4544-a816-1c1b74915a83",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://www.techtalkthai.com/feed/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -384,
        16
      ],
      "id": "92362762-ad7e-4d33-af1a-c900d74c699b",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "ZuDiJsQxbXGaqAgP",
          "mode": "list",
          "cachedResultName": "rssdatatable",
          "cachedResultUrl": "/projects/slVROAlSYAmEf0Jf/datatables/ZuDiJsQxbXGaqAgP"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "date": "={{ $json.pubDate }}",
            "news": "={{ $json['content:encoded'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "news",
              "displayName": "news",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "optimizeBulk": false
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -176,
        16
      ],
      "id": "6b9e49a8-37dc-4eac-8e33-0040532e6a50",
      "name": "Insert row"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f42c4096-f059-4192-b24d-ad98c8e4d53e",
  "meta": {
    "instanceId": "2a0fd77999d6f6459bd71e6612f1ff5e8fe4e8d590dd195a2285997e14ee4859"
  },
  "id": "sEYyNTUGN4erQ8Pn",
  "tags": []
}